{% extends "main/base.html" %}

{% block title %}Error 404{% endblock %}
{% block h1 %}Error 404{% endblock %}
{% load static %}

{% block body_block %}
	<h2>404 - Page not Found</h2><hr/>

	<div class="col-lg-6 col-md-6 col-sm-12">
		<h4 class="alert alert-danger">
			You tried to navigate to page that does not exist, under normal circumstances this shouldn't have happened.
		</h4>
		<h4 class="alert alert-info">
			Use the blue navigation menu above to go to leave this slightly pointless, but informative page.
		</h4>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 customer">
		<img src="{% static 'images/404.png' %}" alt="Error sad face" />
	</div>
{% endblock %}