{% extends "main/base.html" %}


{% block title %} About{% endblock %}

{% block h1 %} About Trec Feed {% endblock %}

{% block body_block %}

	<!-- Page card title !-->
	<h2>About tFeed</h2>
	<hr />
	<!-- /Page card title !-->

	<h4>With tFeed you can...</h4>
	<ul>
		<li>Upload your run and get your results</li>
		<li>Evaluate your performance</li>
		<li>Compare it to others' performance</li>
		<li>Get information about each track, task and run</li>
	</ul>
	<h4>Developed by...</h4>
	<ul>
		<li>Pablo Arteaga - 2144641A</li>
	</ul>

{% endblock %}