{% extends "main/base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block body_block %}
{% block insert_block %}{% endblock %}
{% if new %}
    {% if valid %}
        {% block ok_upload %}
        {% endblock %}
    {% endif %}
    {% if error %}
        {% block error_upload %}{% endblock %}
    {% endif %}
{% else %}
    {% if valid %}
        {% block ok_edit %}{% endblock %}
    {% endif %}
    {% if error %}
        {% block error_edit %}{% endblock %}
    {% endif %}
{% endif %}
<form id="upload_generic" method="post" action="{{ retUrl }}" enctype="multipart/form-data" data-parsley-validate >
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-info" type="submit" name="submit" value="{% if new %}Create{% else %}Update{% endif %}">
    {% block suggest_add %}{% endblock %}
</form>

{% endblock %}