<!DOCTYPE html>

<html>
    <head>
        <title>TREC-FEED {% block title %}{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.3.5/parsley.js"></script>
    </head>

    <body>
        <div>
            {% block body_block %}{% endblock %}
        </div>

        <hr />

        <div>
            <ul>
            {% if user.is_authenticated %}

            {% else %}

            {% endif %}

            </ul>
        </div>
    </body>
</html>