<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>TREC-FEED {% block title %}{% endblock %}</title>
		<!-- CSS !-->
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"></script>
		<!-- JS !-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.3.5/parsley.js"></script>
        <script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    </head>

    <body>
		<!-- navbar !-->
		<nav class="navbar navbar-default navbar-static-top ">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <div  class="navbar-brand">
				  <a href="{% url 'index' %}">
					<img src="{% static 'images/logo.png' %}"/>
					TREC evaluator
				  </a>
			  </div>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
			  <ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'browse' %}">Browse</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
				{% if user.is_authenticated %}
					<li><a href="{% url 'logout' %}">Logout</a></li>
					<li><a href="{% url 'profile' %}">{{ user.username }}</a></li>
				{% else %}
					<li><a href="{% url 'register' %}">Register</a></li>
					<li><a href="{% url 'login' %}">Login</a></li>
				{% endif %}
					<!-- Add a search bar that passes a query django-filter implementation -->
			  </ul>
			</div><!--/.nav-collapse -->
		  </div>
		</nav>
		<!-- /navbar !-->
		<div class="container-fluid page_title">
			<div class="container">
				<h1>{% block h1 %}{% endblock %}</h1>
			</div>
		</div>
        <div class="container content">
            {% block body_block %}
			{% endblock %}
        </div>
		<div class="container-fluid footer">
			<div class="container footer-text">
				--- Footer | Text | Test ----
			</div>
		</div>
    </body>
</html>