{% extends "main/base.html" %}
{% load staticfiles %}
{% block title %}Browse{% endblock %}
{% block h1 %}Browse{% endblock %}
{% block head %}
<script src="{% static 'js/jquery-dateFormat.min.js' %}"></script>
<script src="{% static 'js/graphFormatter.js' %}"></script>
<script src="{% static 'js/highcharts.js' %}"></script>
{% load chartit %}
{{ chart|load_charts:"chart" }}
{% endblock %}
{% block body_block %}


	<!-- Page card title !-->
	<h2>Browsing {{ task }}</h2>
	<hr/>
	<!-- /Page card title !-->
	{% if errorSorting %}
		<h3 class="alert alert-warning">The items could not be sorted. Please, try again later</h3>
	{% endif %}

	{% if runs %}
		<div class="table-responsive">
		<h4>Runs on task <a href="{% url 'view_task' taskid=task.id %}">{{ task.title }}</a></h4>
			<h5>This task is on track <a href="{% url 'view_track' trackid=track.id %}">{{ track.title }}</a></h5>
			{% if userRunsRequested %}
				<h5>You are only seeing your own runs</h5>
			{% endif %}
			<table class="sortable table table-striped table-bordered table-hover">
				<thead class="thead-inverse">
					<tr>
						<th>Uploaded on</th>
						<th>Researcher</th>
						<th>Organization</th>
						<th>Run</th>
						<th>Map</th>
						<th>p10</th>
						<th>p20</th>
					</tr>
				</thead>
				<tbody>
					{% for run in runs %}
					<tr>
						<td>{{ run.datetime|date:"d-m-Y H:m" }}</td>
						<td><a href="{% url 'view_profile' userId=run.researcher.user.id %}">{{ run.researcher }}</a></td>
						<td>{{ run.researcher.organization|default:"Not provided" }}</td>
						<td><a href="{% url 'view_run' runid=run.id %}">{{ run.name }}</a></td>
						<td>{{ run.map }}</td>
						<td>{{ run.p10 }}</td>
						<td>{{ run.p20 }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% if chart %}
		<div id="chart" class="chart">

		</div>
		{% endif %}
		{% if averages %}
			<h4>Aggregated results from other participants</h4>
			<table class="sortable table table-striped table-bordered table-hover order-column">
				<thead class="thead-inverse">
					<tr>
						<th>Measure</th>
						<th>Value</th>
					</tr>
				</thead>

				<tbody>
					{% for average in averages %}
						<tr>
							<td>{{ average.0 }}</td>
							<td>{{ average.1 }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	{% else %}
		<h3 class="alert alert-warning">There are no Runs for this Task</h3>
	{% endif %}

{% endblock %}