{% extends "main/base.html" %}

{% block title %}Browse{% endblock %}
{% block h1 %}Browse{% endblock %}
{% block body_block %}

<div>
    <form id="upload_run" method="post" action="{% url 'browse' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="submit" value="Get runs">
    </form>
</div>
{% if accepted %}
<div>
   <table class="sortable table table-hover table-striped">
       <thead class="thead-inverse">
            <tr>
                <th>Researcher</th>
                <th>Run</th>
                <th>Map</th>
                <th>p10</th>
                <th>p20</th>
            </tr>
        </thead>

        <tbody>
            {% for run in runs %}
                <tr>
                    <td>{{ run.researcher }}</td>
                    <td>{{ run.name }}</td>
                    <td>{{ run.map }}</td>
                    <td>{{ run.p10 }}</td>
                    <td>{{ run.p20 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}