{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1>Edit Profile</h1>
    <br/>

    <div class="container">

        <form class="form-signin span8" id="user_form" method="post" action="/main/edit_profile/"
              enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="form-signin-heading">Edit your profile here</h2>

            {% for field in profile_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text}}<br/>
            {{ field }}<br/>
            {% endfor %}

            <br/>
            <!-- Provide a button to click to submit the form. -->
            <input class="btn btn-primary" type="submit" name="submit" value="Save"/>
        </form>
    </div>
</div>
{% endblock %}