{% extends "base.html" %}

{% load staticfiles %} <!-- for when we have images -->

{% block title %}Home<{% endblock %}

{% block body_block %}
  <!-- Panel to upload trec runs
       graph of recent runs and top runs -->
        <a href="/main/uploadRun/">Upload Run</a>

    <!-- test to see if datasets work, if they do then export data sets to add
    to scrollable tables with keys for top scores and recent -->
    {% if runs %}
        {% for run in runs %}
        <li><h1>{{ run.name }}</h1></li>
        {% endfor %}
    {% endif %}

{% endblock %}