{% extends "main/base.html" %}

{% block title %}Home{% endblock %}
{% block h1 %}Home{% endblock %}
{% block body_block %}

<a href="/main/run/new/">Upload Run</a>

    <table class="sortable table table-hover table-striped">
		<thead class="thead-inverse">
			<tr>
				<th>Researcher</th>
				<th>Run</th>
				<th>Task</th>
				<th>Track</th>
				<th>Map</th>
				<th>p10</th>
				<th>p20</th>
			</tr>
		</thead>

		<tbody>
			{% for run in runs %}
			<tr>
				<td>{{ run.researcher }}</td>
				<td>{{ run.name }}</td>
				<td>{{ run.task }}</td>
				<td>{{ run.task.track }}</td>
				<td>{{ run.map }}</td>
				<td>{{ run.p10 }}</td>
				<td>{{ run.p20 }}</td>
			</tr>
			{% endfor %}
		</tbody>
    </table>

{% endblock %}