{% extends "main/base.html" %}

{% block title %}Login{% endblock %}
{% block h1 %}Login{% endblock %}
{% block body_block %}
	<div class="col-lg-6 col-md-6 col-sm-12">
		<!-- Page card title !-->
		<h2 class="form-signin-heading">Please sign in</h2>
		<hr />
		<!-- /Page card title !-->
        <form class="form-signin" id="login_form" method="post" action="/main/login/">
            {% if bad_details %}
            <p class="alert alert-danger">The username / password you provided are incorrect!</p>
            {% elif disabled_account %}
            <p class="alert alert-danger">Your account is currently disabled; we can't log you in!</p>
            {% endif %}
			
			{% csrf_token %}

				<div class="form-group">
					<label for="inputUsername" class="col-sm-3 control-label">Username</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username" value="" size="50" />
					</div>
				</div>
				
				<div class="form-group">
					<label for="inputPassword" class="col-sm-3 control-label">Password</label>
					<div class="col-sm-9">
					  <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" value="" size="50" />
					</div>
				</div>
				
				<button class="btn btn-primary" type="submit">Sign in</button>
        </form>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12">
		<h2>Statistics about TREC-FEED</h2>
		<hr/>
		<table class="table table-hover table-striped">
			<tbody>
				<tr>
					<td>Registered users</td>
					<td>{{ regist_count }}</td>
				</tr>
				<tr>
					<td>Runs uploaded</td>
					<td>{{ runs_count }}</td>
				</tr>
				<tr>
					<td>Number of tasks</td>
					<td>{{ task_count }}</td>
				</tr>
				<tr>
					<td>Number of runs uploaded today</td>
					<td>{{ runs_today }}</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}