{% extends "main/base.html" %}

{% load staticfiles %}

{% block title %}Genre Manager{% endblock %}
{% block h1 %}Genre Manager{% endblock %}
{% block body_block %}

<h2>Manage Genres</h2>
<hr />


<div class="col-lg-6 col-md-12 col-sm-12 col-lg-offset-3">
    <a href="{% url 'new_genre' %}" class="btn btn-info btn-block" role="button">Create new Genre</a>
</div>
{% if list %}
<div class="col-lg-12 col-md-12 col-sm-12">
	<h4>These are the current genres</h4>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
	<table class="table table-responsive table-borderless" id="manage-table">
        <thead>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for genre in list %}
                <tr>
                    <td><h4>{{ genre.title }}</h4></td>
                    <td><a href="{% url 'edit_genre' genreid=genre.id %}" class="btn btn-info btn-block">Edit</a></td>
                    <td><a href="{% url 'delete_genre' genreid=genre.id %}" class="btn btn-info btn-block">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<h3 class="alert alert-warning">There are no Genres yet</h3>
{% endif %}

{% endblock %}