{% extends "main/base.html" %}

{% load staticfiles %}

{% block title %}Manage tracks{% endblock %}

{% block body_block %}

<h2>Manage tracks</h2>
<h4>Details</h4>

{% if list %}
<table class="sortable table table-striped table-bordered table-hover">
    <thead>
        <th>Title</th>
        <th>Description</th>
        <th>URL</th>
        <th>Genre</th>
        <th>Associated tasks</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        {% for track in list %}
            <tr>
                <td>{{ track.title }}</td>
                <td>{{ track.description }}</td>
                <td><a href="{{ track.track_url }}">{{ track.track_url }}</a></td>
                <td>{{ track.genre.title }}</td>
                <td>TODO</td>
                <td><a href="{% url 'edit_track' trackid=track.id %}" class="btn btn-info btn-block">Edit</a></td>
                <td><a href="{% url 'delete_track' trackid=track.id %}" class="btn btn-info btn-block">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}