{% extends 'main/base.html' %}

{% load staticfiles %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>

{% block title %}Profile{% endblock %}

{% block body_block %}
    <div class="hero-unit">
   	   <h1> Profile </h1> <br/>
        <h2>{{ user.username }} </h2>
        <p>Website: {{ userprofile.website }}</p>
        <p>Name: {{ userprofile.display_name }}</p>
        <p>Organization: {{ userprofile.organization }}</p>
        {% if userprofile.profile_picture %}
        <img src="{{ userprofile.profile_picture.url }}" alt="User profile picture" />
        {% endif %}
		
		<p> Last 5 runs: {{ point_chart.as_html }} </p>
		
    </div>
{% endblock %}
