{% extends 'main/base.html' %}

{% load staticfiles %}
{% block head %}
<script type="text/javascript" src="{% static 'js/chart.js' %}"></script>
{% endblock %}

{% block title %}Profile{% endblock %}

{% block body_block %}
    <div class="hero-unit">
   	   <h1> Profile </h1> <br/>
        <h2>{{ user.username }} </h2>
        <p>Website: <a href="{{ userprofile.website|default:'#' }}">{{ userprofile.website|default:"Not provided" }}</a></p>
        <p>Name: {{ userprofile.display_name }}</p>
        <p>Organization: {{ userprofile.organization|default:"Not provided" }}</p>
        {% if userprofile.profile_picture %}
        <img src="{{ userprofile.profile_picture.url }}" alt="User profile picture" />
        {% endif %}
		<div id="chart_div"></div>
    </div>
    <div id="chart_div">
    </div>

{% endblock %}

