{% extends "main/base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block title %}Register{% endblock %}
{% block h1 %}Register{% endblock %}

{% block body_block %}
        {% if registered %}
        <h3 class="alert alert-success"> Thank you for registering.</h3>
        <p><a href="/main/login/">Login</a> when you are ready.</p>
        
		{% else %}
		<div class="col-lg-6 col-md-6 col-sm-12">
		<!-- Page card title !-->
		<h2 class="form-signin-heading">Please enter your details below</h2>
		<hr />
		<!-- /Page card title !-->
        <form class="form-inline" id="user_form" method="post" action="{% url 'register' %}"
              enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Display each form here -->
				{% for field in user_form.visible_fields %}
					<div class="form-group col-lg-12 col-md-12 col-sm-12 register">
						<div>
						{{ field|add_class:"form-control"|attr:"{'size': 10, 'placeholder': 'Your name',}"}}
						</div>
						{{ field.errors }}
					</div>
				{% endfor %}


				{% for field in profile_form.visible_fields %}
					<div class="form-group col-lg-12 col-md-12 col-sm-12 register">
						<div>
							{% if field.label == "profile_picture" %}
								{{ field }} <!-- TODO - style pic upload field !-->
							{% else %}
								{{ field|add_class:"form-control" }}
							{% endif %}
						</div>
						<br/>
						{{ field.errors }}
					</div>
				{% endfor %}
            <!-- Provide a button to click to submit the form. -->
				<input class="btn btn-primary" type="submit" name="submit" value="Register"/>
			</div>
        </form>
		<div class="col-lg-6 col-md-6 col-sm-12 customer">
			<img src="{% static 'images/customer.jpg' %}">
        {% endif %}
{% endblock %}