{% extends "main/base.html" %}

{% load staticfiles %}

{% block title %}Search...{% endblock %}

{% block h1 %}Search TREC-FEED{% endblock %}

{% block body_block %}
    <script src="{% static 'js/jquery.collapse.js' %}"></script>
    <script src="{% static 'js/jquery.collapse_cookie_storage.js' %}"></script>
    <script src="{% static 'js/jquery.collapse_storage.js' %}"></script>
    <script src="{% static 'js/searchForm.js' %}"></script>

	<!-- Page card title !-->
	<h2>Search for Runs on TREC-FEED</h2>
	<hr />
	<!-- /Page card title !-->
    <h2>Please select what criteria you want to search on</h2>
    <div id="form">
        <h3>Track</h3>
            <div>Here you can choose</div>
        <h3>Task</h3>
            <div>Here you can choose</div>
        <h3>Genre</h3>
            <div>Here you can choose</div>
        <h3>Organization</h3>
            <div>Here you can choose</div>
        <h3>Researcher username</h3>
            <div>Here you can choose</div>
        <h3>Researcher name</h3>
            <div>Here you can choose</div>
        <h3>Date uploaded</h3>
            <div>Here you can choose</div>
        <h3>Run name</h3>
            <div>Here you can choose</div>
        <h3>Run description</h3>
            <div>Here you can choose</div>
        <h3>Run type</h3>
            <div>Here you can choose</div>
        <h3>Feedback type</h3>
            <div>Here you can choose</div>
        <h3>Precision at 10 score</h3>
            <div>Here you can choose</div>
        <h3>Precision at 20 score</h3>
            <div>Here you can choose</div>
        <h3>Map score</h3>
            <div>Here you can choose</div>

    </div>

{% endblock %}