{% extends "main/base.html" %}


{% block title %}Search results{% endblock %}

{% block h1 %}Search results for your query{% endblock %}

{% block body_block %}

	<!-- /Page card title !-->
	{% if objects %}
        <h3>These are the runs matching your query</h3>
    	<hr />
	    <table class="sortable table table-hover table-striped">
            <thead class="thead-inverse">
                    <tr>
                        <th>Upload Date</th>
                        <th>Researcher</th>
                        <th>Run</th>
                        <th>Task</th>
                        <th>Track</th>
                        <th>Map</th>
                        <th>p10</th>
                        <th>p20</th>
                    </tr>
            </thead>
        {% for run in objects %}
            <tr>
                <td>{{ run.datetime|date:"d-m-Y" }}</td>
                <td>{{ run.researcher }}</td>
                <td><a href="{% url 'view_run' runid=run.id %}">{{ run.name }}</a></td>
                <td><a href="{% url 'view_task' taskid=run.task.id %}">{{ run.task.title }}</a></td>
                <td><a href="{% url 'view_track' trackid=run.task.track.id %}">{{ run.task.track }}</a></td>
                <td>{{ run.map }}</td>
                <td>{{ run.p10 }}</td>
                <td>{{ run.p20 }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        {% if allnull %}
            <h3 class="alert alert-warning">You need to provide with a query to search</h3>
            <h5 class="alert alert-info">You might want to <a href="{% url 'search' %}">try again</a></h5>
        {% else %}
            <h3 class="alert alert-warning">No results match your query</h3>
            <h5 class="alert alert-info">You might want to <a href="{% url 'search' %}">try again</a> with less restrictive conditions</h5>
            {% if error %}
                <h4>You might want to check your query since some parts of it are incorrect</p>
            {% endif %}
        {% endif %}

    {% endif %}

{% endblock %}