{% extends "main/base.html" %}

{% load staticfiles %}

{% block title %}
    {% if new %}
        Upload Track
    {% else %}
        Edit Track {{ title }}
    {% endif %}
{% endblock %}

{% block body_block %}
{% if new %}
    {% if valid %}
        <h3>Successfully added the track!</h3>
    {% endif %}
    {% if error %}

    {% endif %}
{% else %}
    {% if valid %}
        <h3>Successfully edited track!</h3>
    {% endif %}
    {% if error %}
        <h3>The data you entered is incorrect</h3>
        <h5>Please, check all the fields</h5>
    {% endif %}
{% endif %}
<!-- Action set as dot so we can call this from editTrack and newTrack without worrying for the URL to post to -->
<form id="upload_track" method="post" action="." enctype="multipart/form-data" data-parsley-validate>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="submit" value="{% if new %}Create{% else %}Update{% endif %}">
    <p>Want to add a new genre? <a href="{% url 'new_genre' %}">Click here</a></p>
</form>

{% endblock %}