{% extends "main/base_forms.html" %}

{% load static %}

{% block title %}
    {% if new %}
        {% block new_element %}Upload a new Track{% endblock %}
    {% else %}
        {% block edit_element %}Edit Track {{ title }}{% endblock %}
    {% endif %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/autoform.css' %}">
{% endblock %}

{% block insert_block %}
<h1>
    {% if new %}
        Upload a new Track
    {% else %}
        Edit Track {{ title }}
    {% endif %}
</h1>
{% endblock %}

{% block ok_upload %}
<h3 class="alert alert-success">Successfully added the Track!</h3>
{% endblock %}
{% block error_upload %}
<h3 class="alert alert-warning">The data you entered is incorrect</h3>
<h5>Please, check all the fields</h5>
{% endblock %}
{% block ok_edit %}
<h3 class="alert alert-success">Successfully edited Track!</h3>
{% endblock %}
{% block error_edit %}
<h3 class="alert alert-warning">The data you entered is incorrect</h3>
<h5>Please, check all the fields</h5>
{% endblock %}

{% if user.is_staff %}
{% block suggest_add %}<p>Want to add a new genre? <a href="{% url 'new_genre' %}">Click here</a></p>{% endblock %}
{% endif %}