{% extends "main/base.html" %}

{% load staticfiles %}

{% block title %}New run{% endblock %}

{% block body_block %}

{% if finish %}
<h3 class="alert success">Run uploaded successfully!</h3>
<h4>Your results:</h4><br/>
<div>
<table class="sortable table table-striped table-bordered table-hover order-column">
    <thead class="thead-inverse">
        <tr>
			<th>Map (map)</th>
            <th>Precision at 10 (p10)</th>
            <th>Precision at 20 (p20)</th>

        </tr>
    </thead>

    <tbody>
        <tr>
			<td>{{ results.map }}</td>
            <td>{{ results.P_10 }}</td>
            <td>{{ results.P_20 }}</td>

        </tr>
    </tbody>
</table>
</div>

<h4>Runs on this Task</h4>
<div class="table-responsive">
		<table class="sortable table table-striped table-bordered table-hover order-column">
			<thead class="thead-inverse">
				<tr>
					<th>Researcher</th>
					<th>Run</th>
					<th>Task</th>
					<th>Track</th>
					<th>Map</th>
					<th>p10</th>
					<th>p20</th>
				</tr>
			</thead>
			<tbody>
				{% for run in runs %}
				<tr>
					<td>{{ run.researcher }}</td>
					<td><a href="{% url 'view_run' runid=run.id %}">{{ run.name }}</a></td>
					<td><a href="{% url 'view_task' taskid=run.task.id %}">{{ run.task.title }}</a></td>
					<td><a href="{% url 'view_track' trackid=run.task.track.id %}">{{ run.task.track }}</a></td>
					<td>{{ run.map }}</td>
					<td>{{ run.p10 }}</td>
					<td>{{ run.p20 }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>


{% endif %}
{% if fail %}
<h3>Oops... Something went wrong</h3>
<h5>Please try again later</h5>
{% endif %}
{% if finish %}
<br/>
<h3>Want to upload another run?</h3>
{% endif %}
<form id="upload_run" method="post" action="{% url 'new_run' %}" enctype="multipart/form-data" data-parsley-validate>
    {% csrf_token %}
    {{ form_file.as_p }}
    {{ form.as_p }}
    <input type="submit" name="submit" value="Submit run">
</form>
{% if can_edit_tracks %}
<p>Want to add a new task? <a href="{% url 'new_task' %}">Click here</a></p>
{% endif %}
{% endblock %}