{% extends "main/base_forms.html" %}

{% load static %}

{% block title %}
    {% if new %}
        {% block new_element %}New Genre{% endblock %}
    {% else %}
        {% block edit_element %}Edit Genre {{ title }}{% endblock %}
    {% endif %}
{% endblock %}

{% block h1 %}
    {% if new %}
        New Genre
    {% else %}
        Genre Editor
    {% endif %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/autoform.css' %}">
{% endblock %}

{% block insert_block %}
<!-- Page card title !-->
<h2 class="form-signin-heading">
    {% if new %}
        Upload a new Genre
    {% else %}
        Edit Genre {{ title }}
    {% endif %}
</h2>
<hr />
{% endblock %}

{% block ok_upload %}
<h3 class="alert alert-success">Successfully added the Genre!</h3>
{% endblock %}
{% block error_upload %}
<h3 class="alert alert-warning">The data you entered is incorrect</h3>
<h5>Please, check all the fields</h5>
{% endblock %}
{% block ok_edit %}
<h3 class="alert alert-success">Successfully edited Genre!</h3>
{% endblock %}
{% block error_edit %}
<h3 class="alert alert-warning">The data you entered is incorrect</h3>
<h5>Please, check all the fields</h5>
{% endblock %}