{% extends "main/base.html" %}

{% load staticfiles %}
{% load permission_tags %}

{% block title %}New run{% endblock %}

{% block body_block %}

{% if finish %}
<h3>Run uploaded successfully!</h3>
<h5>Your results:</h5><br/>
<table>
    <tr>
        <th>Measure</th>
        <th>Your score</th>
    </tr>
    <tr>
        <td>Precision at 10 (P_10)</td>
        <td>{{ results.P_10 }}</td>
    </tr>
    <tr>
        <td>Precision at 20 (P_20)</td>
        <td>{{ results.P_20 }}</td>
    </tr>
    <tr>
        <td>Map (map)</td>
        <td>{{ results.map }}</td>
    </tr>
</table>

<h3>Other Runs on this Task</h3>
<div>
    <table class="sortable">
    <thead>
        <tr>
            <th>Researcher</th>
            <th>Run</th>
            <th>Task</th>
            <th>Track</th>
            <th>Map</th>
            <th>p10</th>
            <th>p20</th>
        </tr>
    </thead>

    <tbody>
        {% for run in runs %}
        <tr>
            <td>{{ run.researcher }}</td>
            <td>{{ run.name }}</td>
            <td>{{ run.task }}</td>
            <td>{{ run.task.track }}</td>
            <td>{{ run.map }}</td>
            <td>{{ run.p10 }}</td>
            <td>{{ run.p20 }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
<a href="/main/run/new/">Upload Run</a>

<h3>Other Runs on this Task</h3>
<div>
    <table class="sortable">
    <thead>
        <tr>
            <th>Researcher</th>
            <th>Run</th>
            <th>Task</th>
            <th>Track</th>
            <th>Map</th>
            <th>p10</th>
            <th>p20</th>
        </tr>
    </thead>

    <tbody>
        {% for run in runs %}
        <tr>
            <td>{{ run.researcher }}</td>
            <td>{{ run.name }}</td>
            <td>{{ run.task }}</td>
            <td>{{ run.task.track }}</td>
            <td>{{ run.map }}</td>
            <td>{{ run.p10 }}</td>
            <td>{{ run.p20 }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

{% endif %}
{% if fail %}
<h3>Oops... Something went wrong</h3>
<h5>Please try again later</h5>
{% endif %}
<form id="upload_run" method="post" action="{% url 'new_run' %}" enctype="multipart/form-data" data-parsley-validate>
    {% csrf_token %}
    {{ form_file.as_p }}
    {{ form.as_p }}
    <input type="submit" name="submit" value="Submit run">
</form>
{% if can_edit_tracks %}
<p>Want to add a new task? <a href="{% url 'new_task' %}">Click here</a></p>
{% endif %}
{% endblock %}