{% extends "main/base_forms.html" %}

{% block title %}
    {% if new %}
        {% block new_element %}Upload a new Track{% endblock %}
    {% else %}
        {% block edit_element %}Edit Track {{ title }}{% endblock %}
    {% endif %}
{% endblock %}

{% block insert_block %}
<h1>
    {% if new %}
        Upload a new Track
    {% else %}
        Edit Track {{ title }}
    {% endif %}
</h1>
{% endblock %}

{% block ok_upload %}
<h3>Successfully added the track!</h3>
{% endblock %}
{% block error_upload %}
<h3>The data you entered is incorrect</h3>
<h5>Please, check all the fields</h5>
{% endblock %}
{% block ok_edit %}
<h3>Successfully edited track!</h3>
{% endblock %}
{% block error_edit %}
<h3>The data you entered is incorrect</h3>
<h5>Please, check all the fields</h5>
{% endblock %}

{% block suggest_add %}<p>Want to add a new genre? <a href="{% url 'new_genre' %}">Click here</a></p>{% endblock %}