{% extends "main/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<script src="{% static 'js/jquery-dateFormat.min.js' %}"></script>
<script src="{% static 'js/graphFormatter.js' %}"></script>
<script src="{% static 'js/highcharts.js' %}"></script>
{% if chart %}
	{% load chartit %}
	{{ chart|load_charts:"chart" }}
{% endif %}
{% endblock %}

{% block body_block %}
<div class="col-lg-6 col-md-12 col-sm-12 col-lg-offset-3 text-center">
	<h2>{{ profile.display_name }}'s profile</h2>
	<div class="profile-img">
		{% if profile.profile_picture %}
			<img class="img-circle avatar" src="{{ profile.profile_picture.url }}" alt="User profile picture" />
		{% else %}
			<img class="img-circle avatar" src="{% static 'images/place.png' %}" alt="User profile picture" />
		{% endif %}
	</div>
	
	{% if thisUser %}
		<div class="col-lg-6 col-md-12 col-sm-12 col-lg-offset-3">
			<a href="{% url 'edit_profile' %}" class="btn btn-info btn-block" role="button">Edit my profile</a>
		</div>
	{% endif %}
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
	<h4>Details</h4>
	<div id="chart_div"></div>
	<table class="table-striped table-bordered table-hover table table-responsive">
		<tr>
			<td>Username</td>
			<td>{{ user.username }}</td>
		</tr>
		<tr>
			<td>Display name</td>
			<td>{{ profile.display_name }}</td>
		</tr>
		<tr>
			<td>Organization</td>
			<td>{{ profile.organization|default:"Not provided" }}</td>
		</tr>
		<tr>
			<td>Website</td>
			<td><a href="{{ profile.website|default:'#' }}">{{ profile.website|default:"Not provided" }}</a></td>
		</tr>
		<tr>
			<td>Member since</td>
			<td>{{ user.date_joined|date:"d-m-Y" }}</td>
		</tr>
		<tr>
			<td>Last 5 runs</td>
			<td>
				{% if runs %}
					<table class="table-striped sortable table-bordered table-hover table table-responsive">
						<thead>
							<th>Date</th>
							<th>Run title</th>
							<th>Description</th>
							<th>Track</th>
							<th>Task</th>
							<th>P10</th>
							<th>P20</th>
							<th>Map</th>
						</thead>
						<tbody>
							{% for run in runs %}
								<tr>
									<td>{{ run.datetime|date:"d-m-Y H:m" }}</td>
									<td><a href="{% url 'view_run' runid=run.id %}">{{ run.name }}</a></td>
									<td>{{ run.description }}</td>
									<td><a href="{% url 'view_track' trackid=run.task.track.id %}">
										{{ run.task.track.title }}
									</a></td>
									<td><a href="{% url 'view_task' taskid=run.task.id %}">
										{{ run.task }}</a></td>
									<td>{{ run.p10 }}</td>
									<td>{{ run.p20 }}</td>
									<td>{{ run.map }}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					This user has no runs yet
				{% endif %}
			</td>
		</tr>
	</table>
	{% if taskList %}
		<script type="text/javascript" src="{% static 'js/chart.js' %}"></script>
		<div>
			<h4 id="noCrit" class="alert alert-warning">Please, select a task</h4>
			<h3>Evolution over time</h3>
			<h5 class="alert alert-info">Note you can only see the tasks for which this user has runs</h5>
			<select class="form-control" id="taskSelect">
				{% for task in taskList %}
					<option value="task={{ task.task }}">{{ task.task__title }}</option>
				{% endfor %}
			</select>
			<div class="col-lg-6 col-md-12 col-sm-12 col-lg-offset-3">
				<a href="#" class="btn btn-info btn-block" role="button" id="graphbtn">View evolution over time</a>
			</div>
		</div>
	{% endif %}
	{% if chart %}
		<div id="chart"></div>
	{% endif %}
</div>
{% endblock %}