{% extends "main/base.html" %}

{% load staticfiles %}

{% block title %}View run by {{ profile.display_name }}{% endblock %}

{% block body_block %}

<h2>Run by {{ profile.display_name }}</h2>
<h4>Details</h4>

<table class="table-striped table-bordered table-hover">
    <tr>
        <td>Researcher name</td>
        <td>{{ profile.display_name }}</td>
    </tr>
    <tr>
        <td>Title</td>
        <td>{{ run.name }}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ run.description }}</td>
    </tr>
    <tr>
        <td>Submitted at</td>
        <td>{{ run.datetime|date:"d-m-Y H:m" }}</td>
    </tr>
    <tr>
        <td>Run type</td>
        <td>{{ run.run_type }}</td>
    </tr>
    <tr>
        <td>Query type</td>
        <td>{{ run.query_type }}</td>
    </tr>
    <tr>
        <td>Feedback type</td>
        <td>{{ run.feedback_type }}</td>
    </tr>
    <tr>
        <td>Task</td>
        <td><a href="{% url 'view_task' taskid=run.task.id %}">{{ run.task.title }}</a></td>
    </tr>
    <tr>
        <td>Track</td>
        <td><a href="{% url 'view_track' trackid=run.task.track.id %}">{{ run.task.track.title}}</a></td>
    </tr>
    <tr>
        <td>Results</td>
        <td>
            <table class="table-striped table-bordered table-hover">
                <tr>
                    <th>Measure</th>
                    <th>Your score</th>
                </tr>
                <tr>
                    <td>Precision at 10 (P_10)</td>
                    <td>{{ run.p10 }}</td>
                </tr>
                <tr>
                    <td>Precision at 20 (P_20)</td>
                    <td>{{ run.p20 }}</td>
                </tr>
                <tr>
                    <td>Map (map)</td>
                    <td>{{ run.map }}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{% endblock %}