{% extends "main/base.html" %}

{% load staticfiles %}

{% block title %}Task Viewer{% endblock %}
{% block h1 %}Task Viewer{% endblock %}
{% block body_block %}

<h2>Task "{{ task.title }}"</h2><hr/>
<h4>Details</h4>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <td>Title</td>
        <td>{{ task.title }}</td>
    </tr>
    <tr>
        <td>URL</td>
        <td><a href="{{ task.task_url }}">{{ task.task_url }}</a></td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ task.description }}</td>
    </tr>
    <tr>
        <td>Year</td>
        <td>{{ task.year }}</td>
    </tr>
    <tr>
        <td>Judgement file</td>
        <td><a href="{{ task.judgement_file.url }}">Download the qrels file</a></td>
    </tr>
    <tr>
        <td>Track</td>
        <td><a href="{% url 'view_track' trackid=task.track.id %}">{{ task.track.title }}</a></td>
    </tr>
	<tr>
		<td>Runs</td>
		<td>
			{% if runs %} 
				<table class="table table-striped table-bordered table-hover">
					<tr>
						<th>Title</th>
						<th>Description</th>
						<th>Year</th>
					</tr>
					{% for run in runs %}
						<tr>
							<td><a href="{% url 'view_run' run=run.id %}">{{ run.title }}</a></td>
							<td>{{ run.description }}</td>
							<td>{{ run.year }}</td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				This task has no runs
			{% endif %}
		</td>
	</tr>
</table>

{% endblock %}