{% extends "main/base.html" %}

{% load staticfiles %}

{% block title %}View task: {{ task.title }}{% endblock %}

{% block body_block %}

<h2>Task: {{ task.title }}</h2>
<h4>Details</h4>

<table class="table-striped table-bordered table-hover order-column">
    <tr>
        <td>Title</td>
        <td>{{ task.title }}</td>
    </tr>
    <tr>
        <td>URL</td>
        <td><a href="{{ task.task_url }}">{{ task.task_url }}</a></td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ task.description }}</td>
    </tr>
    <tr>
        <td>Year</td>
        <td>{{ task.year }}</td>
    </tr>
    <tr>
        <td>Judgement file</td>
        <td><a href="{{ task.judgement_file.url }}">Download the qrels file</a></td>
    </tr>
    <tr>
        <td>Track</td>
        <td><a href="{% url 'view_track' trackid=task.track.id %}">{{ task.track.title }}</a></td>
    </tr>
</table>

{% endblock %}